<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block head %}
    <title>Stuff Network | {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="home"><a href="/">Home</a></li>
                <li role="presentation" class="sign-in"><a href="signIn">Sign In</a></li>
                <li role="presentation" class="sign-up"><a href="signUp">Sign Up</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Stuff Network</h3>
    </div>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <p>Kyle Alpert and Kurt Marcinkiewicz</p>
    </footer>
</div>

<script src="../static/js/jquery-2.1.4.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>