{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link href="../static/friends.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>People</h2>
<table class="people">
{% for person in people_list %}
    <tr>
        <td class="person-details">
            {{person.name}} {{'<'}}{{person.email}}{{'>'}}
        </td>
        <td>
            <button type="button" class="btn btn-primary btn-xs add-friend" data-id="{{person.id}}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
{% block scripts %}
<script src="../static/js/friends.js"></script>
{% endblock %}
